################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WorstBlockchainEver/.vs/WorstBlockchainEver/v16