################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WorstBlockchainEver/.vs/WorstBlockchainEver/v16
/.vs
/VirtualMachine/.idea
/VirtualMachine/out/production/VirtualMachine/com/virtualmachine
